{% extends "index.html" %}
{% block content %}
<div class="ml-56 flex-grow flex flex-col items-start space-y-8">
    <h1 class="mt-16 text-4xl text-gray-200 w-10/12">About</h1>
    <p class="mt-16 text-3xl text-gray-200 w-10/12">Squadify is a web app created by four college students for the Bitcamp 2021 Hackathon, helping users quickly and easily merge Spotify playlists for group events (or personal use!). Music is a necessity when hanging out with your squad, but creating group playlists can be difficult to organize or maintain, and using a single person's playlist simply isn't as inclusive or enjoyable. That's why we came in with the goal of maximizing squad diversity: we want to choose the songs that the most people can recognize and enjoy while still giving those with more unique tastes their time to shine!</p>
    <p class="mt-16 text-3xl text-gray-200 w-10/12">If you have any feedback, including bugs, feature requests, or general notes on the playlist creation, please reach out to us via our <a href="https://forms.gle/eeT6MctMY8tPQ97k6" target="_blank">feedback form!</a> Thanks for using Squadify!</p>
</div>
{% endblock %}
