<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Squadify</title>
    <meta name="description" content="Merge your squad's music tastes into a single playlist!">
    <meta name="author" content="Denny's Party">
    <!-- JavaScript Bundle with Popper --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script>
        function squad_up() {
            console.log("TODO");
        }
    </script>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="header">
        <a class = "main-logo" href="http://127.0.0.1:5000/"> <img src = "{{url_for('static', filename='Spotify-Logo.png')}}"> </a>
        <span class="title"> Squadify </span>
        <div class="button-menu">
            <a class="header-button link" href="https://forms.gle/eeT6MctMY8tPQ97k6" target="_blank">Feedback Form</a>
            <a class="header-button link" href="https://github.com/hershal-rami/squadify" target="_blank">GitHub</a>    
            <button class="header-button">Create Playlist</button>   
            <button class="header-button">Sign In</button>
        </div>
    </div>
    <div class="text_description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis imperdiet tellus, sit amet congue augue
            dapibus sed. Duis cursus neque rhoncus elementum pellentesque. Ut in nulla vel ante blandit consectetur ac nec 
            nisi. Etiam tellus leo, venenatis at laoreet quis, fringilla at odio. Nulla sollicitudin urna quis viverra posuere.
            Vivamus eu viverra arcu. Fusce sit amet efficitur purus, sed gravida felis. In tincidunt erat quam, ac pharetra turpis
            tincidunt ac. Cras libero purus, rhoncus sit amet dictum sed, facilisis in metus. Nulla dapibus lobortis felis id gravida.
            Suspendisse commodo nisi et felis pulvinar, et dapibus ex feugiat
        .</p>
        <button onclick="squad_up()">Squad Up!</button>
    </div>
</body>
</html>