<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Squadify{% endblock %}</title>
    <meta name="description" content="Merge your squad's music tastes into a single playlist!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app.css')}}">
    <link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
    <link rel="icon" type="image/svg+xml" href="{{url_for('static', filename='favicon.svg')}}" />
</head>

<body class="flex flex-col h-screen bg-green-300" style="font-family: 'Inter', sans-serif;">
    <!-- Header -->
    <div class="p-4 bg-gray-800 bg-opacity-80 shadow-md md:shadow-lg">
        <div class="container mx-auto flex items-center justify-between">
            <a href="/">
                <img class="h-8 md:h-12" src="{{url_for('static', filename='logo.svg')}}">
            </a>
            <div class="flex items-center space-x-2 md:space-x-4">
                {% if signed_in %}
                <a class="nav-button" href="/squads">Squads</a>
                <a class="nav-button" href="/sign_out">Sign Out</a>
                {% else %}
                <a class="nav-button" href="/sign_in">Sign In</a>
                {% endif %}
                <a href="https://github.com/hershal-rami/squadify" target="_blank">
                    {% include "components/github-logo.html" %}
                </a>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex-grow p-4 flex flex-col container mx-auto mt-4 md:mt-8">
        {% block content %}
        <div class="m-auto flex flex-col items-center space-y-8 text-gray-800">
            {% include "components/illustration.html" %}
            <div class="flex flex-col space-y-4 font-bold text-center">
                <p class="text-2xl md:text-4xl">Can't agree on what to listen to?</p>
                <p class="md:text-2xl">Never argue over who gets the aux again!</p>
            </div>
            <a class="button px-12 py-4 md:px-20" {% if signed_in %} href="/squads/new" {% else %}
                href="/sign_in?dest=%2Fsquads%2Fnew" {% endif %}>Squad Up</a>
        </div>
        {% endblock %}
    </div>
</body>

</html>
