{% extends "index.html" %}
{% block content %}
<div class="flex flex-col items-center space-y-8">
    <p class="text-8xl font-bold bg-gradient-to-tr from-green-600 to-yellow-400 bg-clip-text text-transparent">
        {{squad.squad_name}}
    </p>
    <div class="flex flex-col space-y-2">
        <p class="text-3xl font-bold text-green-500">
            Squad Leader:
        <p class="text-3xl font-bold text-green-500">
            {{squad.user}}
        </p>
    </div>
    {% for playlist in squad.playlists %}
    <li>
        <p>Playlist: {{playlist.playlist_link}}</p>
        <p>Added by: {{playlist.user_name}}</p>
    </li>
    {% endfor %}
    <form method="POST" action="/squads/{{ squad.squad_id }}/add">
        {{ playlist_form.hidden_tag() }}
        {{ playlist_form.user_name(size=80) }}
        <input type="text" value="Enter your name">
        {{ playlist_form.hidden_tag() }}
        {{ playlist_form.playlist_link(size=80) }}
        <input type="submit" value="Add your playlist">
    </form>
</div>
{% endblock %}
