{% extends "index.html" %}
{% block content %}
<div class="flex flex-col items-center">
    <p class="text-8xl font-bold bg-gradient-to-tr from-green-300 to-yellow-500 bg-clip-text text-transparent">
        {{squad.squad_name}}
    </p>
    <p class="text-3xl font-bold text-green-500">
        Squad Leader:
    <p class="text-3xl font-bold text-green-500">
        {{squad.user}}
    </p>
    <div>
        {% for playlist in squad.playlists %}
        <li>
            <p>Playlist: {{playlist.url}}</p>>
        </li>
        {% endfor %}
    </div>
    <button class="p-5 rounded-md bg-green-300 text-3xl font-bold text-green-500">Add Your Playlist</button>
</div>
{% endblock %}
