{% extends "index.html" %}
{% block content %}
<div class="flex flex-col items-center">
    <p class="mb-12 text-8xl font-bold bg-gradient-to-tr from-green-600 to-yellow-400 bg-clip-text text-transparent">
        Squads</p>
    <div class="flex flex-col space-y-6">
        {% for squad in squads_list %}
        <li class="text-5xl font-medium text-green-500">
            <a href="/squads/{{squad.squad_id}}">{{squad.squad_name}}</a>
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}
