{% extends "index.html" %}

{% block title %}Squads - Squadify{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <a class="button mb-4 md:mb-8" href="/squads/new">New Squad</a>
    <div class="w-full flex flex-col items-center space-y-2 md:space-y-4">
        {% for squad in squads_list %}
        <a class="card text-center text-lg md:text-2xl font-medium text-gray-800"
            href="/squads/{{squad.squad_id}}">{{squad.squad_name}}</a>
        <!-- <div class="flex shadow-md">
            <a href="/squads/{{squad.squad_id}}/delete_squad" onclick="return confirm('Delete this squad?')">
                {% include "components/delete-icon.html" %}
            </a>
        </div> -->
        {% endfor %}

        {% if squads_list|length == 0 %}
        <p class="card">Create a squad above!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
