{% extends "index.html" %}

{% block title %}{{squad.squad_name}} - Squadify{% endblock %}

{% block content %}
<div class="flex flex-col items-center space-y-8 font-medium text-gray-800">
    <div class="card flex flex-col items-center space-y-2 md:space-y-4">
        <p class="text-xl md:text-4xl font-bold">{{squad.squad_name}}</p>
        <p class="text-lg md:text-xl">Squad Leader: {{squad.leader_name}}</p>
        <a class="button" href="/squads/{{squad.squad_id}}/finish">Compile Squad</a>
    </div>

    <div class="flex flex-col space-y-2">
        {% for playlist in squad.playlists %}
        <div class="flex flex-col md:flex-row shadow-md">
            <div
                class="md:flex-grow flex md:items-center justify-center md:text-xl p-1 md:px-4 md:py-0 rounded-t-lg md:rounded-t-none md:rounded-l-lg bg-gray-200 bg-opacity-90">
                <p>{{playlist.user_name}}</p>
            </div>
            <div
                class="flex items-center space-x-3 md:space-x-4 p-3 rounded-b-lg md:rounded-bl-none md:rounded-r-lg bg-gray-200 bg-opacity-70">
                <iframe src="https://open.spotify.com/embed/playlist/{{playlist.playlist_id}}" class="rounded-md"
                    width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <a href="/squads/{{squad.squad_id}}/delete?playlist_id={{playlist.playlist_id}}&user_name={{playlist.user_name}}"
                    onclick="return confirm('Delete this playlist?')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-7" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                </a>
            </div>
        </div>
        {% endfor %}

        {% if squad.playlists|length == 0 %}
        <p class="card">Add playlists below!</p>
        {% endif %}
    </div>

    <form method="POST" action="/squads/{{squad.squad_id}}/add"
        class="flex flex-col md:flex-row items-center space-y-2 space-x-4">
        {{ add_playlist_form.csrf_token }}
        {{ add_playlist_form.user_name(class="button", placeholder="Your Name") }}
        {{ add_playlist_form.playlist_link(class="button", placeholder="Playlist Link") }}
        <input class="button max-w-max" type="submit" value="Add Your Playlist">
    </form>
</div>
{% endblock %}
