/* Home Page */
.logo-image {
    max-width: 400px;
    max-height: 300px;
    padding-left: 30 px;
    padding-top: 5px;
}

.nav-link {
    font-size: 1.75rem !important;
    color: rgba(255,255,255,.9) !important;
    margin-left: 8px;
    margin-right: 8px;
}

.nav-link:hover {
    color: #29ff74 !important;
    transition: .5s;
}

.nav-item #sign-in-button, .nav-item #logout-button {
    color: rgba(255,255,255,.9) !important;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none !important
}

.nav-item #sign-in-button:hover, .nav-item #logout-button:hover {
    color: rgb(255,255,255) !important;
}

a, a:hover, a:focus{
    text-decoration: none;
}

#logged-out-about {
    margin-left: 0px;
    margin-right: 35px;
}

#squads-button {
    margin-left: 0px;
    margin-right: 35px;
}

#upper-bar {
    padding-right: 20px;
}

#bottom-bar {
    padding-bottom: 10px;
    padding-right: 35px;
}

/* View Squads Page */
.squads-header {
    display: inline-block;
    align-self: center;
    align-content: center;
}

.squads-group .squads-list {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}

.squads-group .squads-list:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.squads-group .squads-list:hover {
    background-color: #3e8e41;
}

/* Individual Squad Page */
.squad-header {
    display: inline-block;
    align-self: center;
    align-content: center;
}

.squad-leader {
    display: inline-block;
    align-self: center;
    align-content: center;
}

.playlist-name {
    display: inline-block;
    align-self: center;
    align-content: center;
}

.playlist-link {
    display: inline-block;
    align-self: center;
    align-content: center;
}

.new-playlist-button {
    display: inline-block;
    align-self: center;
    align-content: center;
}

/* Add Squad Page */
.add-squad-button {
    display: inline-block;
    align-self: center;
    align-content: center;
}